.Albums-container {
    display: flex;
    flex-flow: column;
    margin-top: 1%;
    animation: fadein 1s;
}

.Album-container {
    display: grid;
    justify-content: center;
    animation: fadein 2s;
}

.Album-name {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    z-index: 15;
    padding: 1% 2%;
    margin: 25% 25% 25% 25%;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    text-shadow: 1px 1px gray;
    font-size: calc(15px + 5vmin);
    background-color: rgba(0,0,0,.2);
    animation: fadein 3s;
}

.Album-name:hover,
.Album-name:focus {
    cursor: pointer;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}