.Carousel-thumbnail {
    vertical-align: top;
    animation-name: fadein;
    animation-duration: 1s;
}

.Carousel-image {
    animation-name: fadein;
    animation-duration: 1s;
}

.Carousel-container {
    display: block;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    animation-name: fadein;
    animation-duration: 1s;
    background-color: rgba(0,0,0,0.9);
}

.device-orientation {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.react-orientation {
    flex-grow: 1;
}

.Rotate-Message {
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    height: 100%;
    font-size: 5vh;
    color: gray;
}

@keyframes fadein {
    from {opacity: 0.1}
    to {opacity: 1}
}

.close {
    position: fixed;
    background-color: transparent;
    border: transparent;
    z-index: 5;
    top: 0;
    right: 6%;
    color: #f1f1f1;
    font-size: calc(30px + 4vmin);
    font-weight: normal;
    transition: 0.3s;
}

@media only screen and (max-width: 700px){
    .Carousel-container {
        width: 100%;
    }
}