.image-gallery {
    animation-name: fadein;
    animation-duration: 3s;
}

.Carousel-thumbnail {
    animation-name: fadein;
    animation-duration: 1s;
}

.Carousel-image {
    animation-name: fadein;
    animation-duration: 1s;
}

.image-gallery-thumbnail {
    width: 100px;
    overflow: hidden;
    margin-bottom: 5vh;
}

.image-gallery-thumbnail img {
    width: auto !important;
    height: 75px;
}

@keyframes fadein {
    from {opacity: 0.1}
    to {opacity: 1}
}

.close {
    position: fixed;
    background-color: transparent;
    border: transparent;
    z-index: 5;
    top: 0;
    right: 6vw;
    color: #f1f1f1;
    font-size: calc(30px + 4vmin);
    font-weight: normal;
    transition: 0.3s;
}

@media (max-width: 960px) {
    .image-gallery-slide img {
        max-width: 90%;
        height: 75ex;
    }

}
