.Thumbnail-container {
    display: grid;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s 0.3s, opacity 0.3s linear;
}

.visible {
    visibility: visible;
    opacity: 0.7;
    transition: opacity 0.3s linear;
}

.loader-horizontal {
    display: inline-block;
}

.Thumbnail-image {
    filter: grayscale(50%);
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.visible:hover {
    filter: grayscale(0%);
    opacity: 1;
    transition:  opacity 0.3s linear;
}

.spinner-layer {
    grid-column: 1;
    grid-row: 1;
}

.image-layer {
    grid-column: 1;
    grid-row: 1;
}